body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    font-family: Calibri, serif;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Calibri, serif;
}

label, input, button {
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: lightgray;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 0.875em;
    font-family: Arial, serif;
    margin: 0;
    text-align: center;
}
