<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome to Noted</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css"/>
</head>

<body class="body">
<h1>Please log in to continue</h1><br>

<div class="form-container">
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Username:</label>
            <input th:type="text" id="username" th:name="username" required/>
        </div><br>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required/>
        </div><br>

        <div class="error-message" th:if="${error}" th:text="${error}"></div>

        <div class="button-container">
            <button type="submit">Log in</button>
        </div>

        <div>
            <h5>Don't have an account? Ask an administrator to create one!</h5>
        </div>
    </form><br>
</div>

</body>
</html>
