<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your note</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/note.css}" href="../static/css/note.css"/>
</head>
<body>

<h1>Your note:</h1><br>

<div class="form-container">
    <form method="post">
        <input type="text" placeholder="Title" class="input-field" th:field="*{note.title}" required>
        <textarea placeholder="Text" class="input-field" th:field="*{note.text}"></textarea>
        <input type="submit" value="Save">
    </form>
</div>

</body>
</html>
